html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

}

canvas {
  display: block;
  margin: auto;
}

.main-container {
  background-color: black;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;

}

.headline-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  text-align: center;

}

.center-container {
  background-color: black;
  margin: 20px 0;
  text-align: center;

}

.description-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.box {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;




}

h1 {
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
}

p {
  color: black;

  background-color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: black;

  background-color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;

  margin-top: 20px;
}